### Importing required libraries

In [57]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
import warnings
warnings.filterwarnings("ignore")
import pickle

### importing the raw data(csv file)

In [58]:
book=pd.read_csv(r"C:\Users\AYUSH\OneDrive\Desktop\End-to-End Projects\Machine Learning\Book Recomendation System\data\Books.csv")
rating=pd.read_csv(r"C:\Users\AYUSH\OneDrive\Desktop\End-to-End Projects\Machine Learning\Book Recomendation System\data\Ratings.csv")
user=pd.read_csv(r"C:\Users\AYUSH\OneDrive\Desktop\End-to-End Projects\Machine Learning\Book Recomendation System\data\Users.csv")

### Exploring the datasets

In [59]:
print(book.shape)
print(rating.shape)
print(user.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [60]:
book.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [61]:
book['Image-URL-M'] = book['Image-URL-M'].str.replace(r'^http\b', 'https', regex=True)

In [62]:
book.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,https://images.amazon.com/images/P/0195153448....,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,https://images.amazon.com/images/P/0002005018....,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,https://images.amazon.com/images/P/0060973129....,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,https://images.amazon.com/images/P/0374157065....,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,https://images.amazon.com/images/P/0393045218....,http://images.amazon.com/images/P/0393045218.0...

In [63]:
rating.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [64]:
user.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

<p style="color:red;"><b>user dataset may have some null values in the age attributes</b></p>

###### checking for null values

In [65]:
book.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

 <p style="color:red;"><b>there a few null values which are negligible</b></p>

In [66]:
rating.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [67]:
user.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [68]:
null_per=(110762/278858)*100
null_per

39.71985741847105

 <p style="color:red;"><b>there are lot of null values in age aroun 40 percent and age is not a vital attribute for the recomendation system so dropping it </b></p>

In [69]:
user.drop('Age',axis=1,inplace=True)

In [70]:
user.head()

   User-ID                            Location
0        1                  nyc, new york, usa
1        2           stockton, california, usa
2        3     moscow, yukon territory, russia
3        4           porto, v.n.gaia, portugal
4        5  farnborough, hants, united kingdom

In [71]:
book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [72]:
book.describe().T

,count,unique,top,freq
ISBN,271360,271360,0195153448,1
Book-Title,271360,242135,Selected Poems,27
Book-Author,271359,102023,Agatha Christie,632
Year-Of-Publication,271360,202,2002,13903
Publisher,271358,16807,Harlequin,7535
Image-URL-S,271360,271044,http://images.amazon.com/images/P/185326119X.0...,2
Image-URL-M,271360,271044,https://images.amazon.com/images/P/185326119X....,2
Image-URL-L,271357,271041,http://images.amazon.com/images/P/225307649X.0...,2

In [73]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [74]:
rating.describe().T

,count,mean,std,min,25%,50%,75%,max
User-ID,1149780.0,140386.395126,80562.277719,2.0,70345.0,141010.0,211028.0,278854.0
Book-Rating,1149780.0,2.866950,3.854184,0.0,0.0,0.0,7.0,10.0

In [75]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
dtypes: int64(1), object(1)
memory usage: 4.3+ MB

In [76]:
user.describe().T

,count,mean,std,min,25%,50%,75%,max
User-ID,278858.0,139429.5,80499.51502,1.0,69715.25,139429.5,209143.75,278858.0

### Popularity Based Recommendation System

 <p style="color:red;"><b>we are going to recommend the most highest avg rating books but the threshold will be 250 ratings</b></p>

 <p style="color:red;"><b>we need to join the book and rating dataset to get the respective books rating.To join we need a common attribute and ISBN attribute can be used</b></p>

In [77]:
book_w_rating = rating.merge(book,on='ISBN')

In [78]:
book_w_rating.shape

(1031136, 10)

In [79]:
book_w_rating.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,https://images.amazon.com/images/P/034545104X....,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,https://images.amazon.com/images/P/034545104X....,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,https://images.amazon.com/images/P/034545104X....,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,https://images.amazon.com/images/P/034545104X....,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,https://images.amazon.com/images/P/034545104X....,http://images.amazon.com/images/P/034545104X.0...

 <p style="color:red;"><b>we need to get the total number of ratings for each book</b></p>

In [80]:
book_w_rating.groupby('Book-Title').count()['Book-Rating']

Book-Title
 A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)    4
 Always Have Popsicles                                                                                        1
 Apple Magic (The Collector's series)                                                                         1
 Ask Lily (Young Women of Faith: Lily Series, Book 5)                                                         1
 Beyond IBM: Leadership Marketing and Finance for the 1990s                                                   1
                                                                                                             ..
Ã?Â?lpiraten.                                                                                                 2
Ã?Â?rger mit Produkt X. Roman.                                                                                4
Ã?Â?sterlich leben.                                                                                           1
Ã?Â?stlich der Berge.                                                                                         3
Ã?Â?thique en toc                                                                                             2
Name: Book-Rating, Length: 241071, dtype: int64

In [81]:
book_w_rating.groupby('Book-Title').count()['Book-Rating'].reset_index()

                                               Book-Title  Book-Rating
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [82]:
book_w_rating.groupby('Book-Title').count()

,User-ID,ISBN,Book-Rating,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
Book-Title,,,,,,,,,
"A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)",4,4,4,4,4,4,4,4,4
Always Have Popsicles,1,1,1,1,1,1,1,1,1
Apple Magic (The Collector's series),1,1,1,1,1,1,1,1,1
"Ask Lily (Young Women of Faith: Lily Series, Book 5)",1,1,1,1,1,1,1,1,1
Beyond IBM: Leadership Marketing and Finance for the 1990s,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
Ã?Â?lpiraten.,2,2,2,2,2,2,2,2,2
Ã?Â?rger mit Produkt X. Roman.,4,4,4,4,4,4,4,4,4
Ã?Â?sterlich leben.,1,1,1,1,1,1,1,1,1
Ã?Â?stlich der Berge.,3,3,3,3,3,3,3,3,3
Ã?Â?thique en toc,2,2,2,2,2,2,2,2,2

In [83]:
num_rating_df = book_w_rating.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df

                                               Book-Title  Book-Rating
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

 <p style="color:red;"><b> the Book-Rating attribute needed to be changed as it is count of number of ratings</b></p>

In [84]:
num_rating_df.rename(columns={'Book-Rating':'num_ratings'},inplace=True)
num_rating_df

                                               Book-Title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [85]:
book_w_rating.groupby('Book-Title').mean()

                                                          User-ID  Book-Rating
Book-Title
 A Light in the Storm: The Civil War Diary of A...   51807.250000     2.250000
 Always Have Popsicles                              172742.000000     0.000000
 Apple Magic (The Collector's series)               198711.000000     0.000000
 Ask Lily (Young Women of Faith: Lily Series, B...  269557.000000     8.000000
 Beyond IBM: Leadership Marketing and Finance f...   11601.000000     0.000000
...                                                           ...          ...
Ã?Â?lpiraten.                                       100532.500000     0.000000
Ã?Â?rger mit Produkt X. Roman.                      116729.500000     5.250000
Ã?Â?sterlich leben.                                 256636.000000     7.000000
Ã?Â?stlich der Berge.                               198497.333333     2.666667
Ã?Â?thique en toc                                    39532.000000     4.000000

[241071 rows x 2 columns]

In [86]:
avg_rating_df = book_w_rating.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_rating_df

                                               Book-Title  Book-Rating
0        A Light in the Storm: The Civil War Diary of ...     2.250000
1                                   Always Have Popsicles     0.000000
2                    Apple Magic (The Collector's series)     0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...     8.000000
4        Beyond IBM: Leadership Marketing and Finance ...     0.000000
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.     0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.     5.250000
241068                                Ã?Â?sterlich leben.     7.000000
241069                              Ã?Â?stlich der Berge.     2.666667
241070                                  Ã?Â?thique en toc     4.000000

[241071 rows x 2 columns]

In [87]:
avg_rating_df.rename(columns={'Book-Rating':'avg_rating'},inplace=True)
avg_rating_df

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241066                                      Ã?Â?lpiraten.    0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.    5.250000
241068                                Ã?Â?sterlich leben.    7.000000
241069                              Ã?Â?stlich der Berge.    2.666667
241070                                  Ã?Â?thique en toc    4.000000

[241071 rows x 2 columns]

<p style="color:red;"><b>We need to merge both the attributes with the</b></p>

In [88]:
popular_df = num_rating_df.merge(avg_rating_df,on='Book-Title')
popular_df

,Book-Title,num_ratings,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

<p style="color:red;"><b>Now we will need other features of the book dataset so we will merge popular_df</b></p>

In [89]:
popular_df.merge(book,on='Book-Title')

,Book-Title,num_ratings,avg_rating,ISBN,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000,0590567330,Karen Hesse,1999,Hyperion Books for Children,http://images.amazon.com/images/P/0590567330.0...,https://images.amazon.com/images/P/0590567330....,http://images.amazon.com/images/P/0590567330.0...
1,Always Have Popsicles,1,0.000000,0964147726,Rebecca Harvin,1994,Rebecca L. Harvin,http://images.amazon.com/images/P/0964147726.0...,https://images.amazon.com/images/P/0964147726....,http://images.amazon.com/images/P/0964147726.0...
2,Apple Magic (The Collector's series),1,0.000000,0942320093,Martina Boudreau,1984,Amer Cooking Guild,http://images.amazon.com/images/P/0942320093.0...,https://images.amazon.com/images/P/0942320093....,http://images.amazon.com/images/P/0942320093.0...
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000,0310232546,Nancy N. Rue,2001,Zonderkidz,http://images.amazon.com/images/P/0310232546.0...,https://images.amazon.com/images/P/0310232546....,http://images.amazon.com/images/P/0310232546.0...
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000,0962295701,Lou Mobley,1989,"Teleonet, Incorporated",http://images.amazon.com/images/P/0962295701.0...,https://images.amazon.com/images/P/0962295701....,http://images.amazon.com/images/P/0962295701.0...
...,...,...,...,...,...,...,...,...,...,...
270291,Ã?Â?lpiraten.,2,0.000000,3499232499,Janwillem van de Wetering,2002,Rowohlt Tb.,http://images.amazon.com/images/P/3499232499.0...,https://images.amazon.com/images/P/3499232499....,http://images.amazon.com/images/P/3499232499.0...
270292,Ã?Â?rger mit Produkt X. Roman.,4,5.250000,325721538X,Joan Aiken,1987,Diogenes Verlag,http://images.amazon.com/images/P/325721538X.0...,https://images.amazon.com/images/P/325721538X....,http://images.amazon.com/images/P/325721538X.0...
270293,Ã?Â?sterlich leben.,1,7.000000,3451274973,Anselm GrÃ?Â¼n,2001,"Herder, Freiburg",http://images.amazon.com/images/P/3451274973.0...,https://images.amazon.com/images/P/3451274973....,http://images.amazon.com/images/P/3451274973.0...
270294,Ã?Â?stlich der Berge.,3,2.666667,3442725739,David Guterson,2000,btb,http://images.amazon.com/images/P/3442725739.0...,https://images.amazon.com/images/P/3442725739....,http://images.amazon.com/images/P/3442725739.0...
270295,Ã?Â?thique en toc,2,4.000000,2842192508,Didier Daeninckx,1998,Baleine,http://images.amazon.com/images/P/2842192508.0...,https://images.amazon.com/images/P/2842192508....,http://images.amazon.com/images/P/2842192508.0...

In [90]:
popular_df.merge(book,on='Book-Title').shape

(270296, 10)

In [91]:
popular_df.merge(book,on='Book-Title').drop_duplicates('Book-Title').shape

(241071, 10)

 <p style="color:red;"><b>we dont need all the image url so we will only selecting one of them</b></p>

In [92]:
popular_df = popular_df.merge(book,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num_ratings','avg_rating']]
popular_df

,Book-Title,Book-Author,Image-URL-M,num_ratings,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,Karen Hesse,https://images.amazon.com/images/P/0590567330....,4,2.250000
1,Always Have Popsicles,Rebecca Harvin,https://images.amazon.com/images/P/0964147726....,1,0.000000
2,Apple Magic (The Collector's series),Martina Boudreau,https://images.amazon.com/images/P/0942320093....,1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",Nancy N. Rue,https://images.amazon.com/images/P/0310232546....,1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,Lou Mobley,https://images.amazon.com/images/P/0962295701....,1,0.000000
...,...,...,...,...,...
270291,Ã?Â?lpiraten.,Janwillem van de Wetering,https://images.amazon.com/images/P/3499232499....,2,0.000000
270292,Ã?Â?rger mit Produkt X. Roman.,Joan Aiken,https://images.amazon.com/images/P/325721538X....,4,5.250000
270293,Ã?Â?sterlich leben.,Anselm GrÃ?Â¼n,https://images.amazon.com/images/P/3451274973....,1,7.000000
270294,Ã?Â?stlich der Berge.,David Guterson,https://images.amazon.com/images/P/3442725739....,3,2.666667
270295,Ã?Â?thique en toc,Didier Daeninckx,https://images.amazon.com/images/P/2842192508....,2,4.000000

<p style="color:red;"><b>We are selecting the top 50 highest avg rated books</b></p>

In [93]:
popular_df = popular_df[popular_df['num_ratings']>=250].sort_values('avg_rating',ascending=False).head(50)
popular_df.reset_index()

,index,Book-Title,Book-Author,Image-URL-M,num_ratings,avg_rating
0,89972,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,https://images.amazon.com/images/P/0439136350....,428,5.852804
1,89954,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,https://images.amazon.com/images/P/0439139597....,387,5.824289
2,89982,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,https://images.amazon.com/images/P/0590353403....,278,5.737410
3,89959,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,https://images.amazon.com/images/P/043935806X....,347,5.501441
4,89944,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,https://images.amazon.com/images/P/0439064872....,556,5.183453
5,214749,The Hobbit : The Enchanting Prelude to The Lor...,J.R.R. TOLKIEN,https://images.amazon.com/images/P/0345339681....,281,5.007117
6,209880,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. TOLKIEN,https://images.amazon.com/images/P/0345339703....,368,4.948370
7,89989,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,https://images.amazon.com/images/P/059035342X....,575,4.895652
8,237361,"The Two Towers (The Lord of the Rings, Part 2)",J.R.R. TOLKIEN,https://images.amazon.com/images/P/0345339711....,260,4.880769
9,246689,To Kill a Mockingbird,Harper Lee,https://images.amazon.com/images/P/0446310786....,510,4.700000
10,205568,The Da Vinci Code,Dan Brown,https://images.amazon.com/images/P/0385504209....,898,4.642539
11,210456,The Five People You Meet in Heaven,Mitch Albom,https://images.amazon.com/images/P/0786868716....,430,4.551163
12,202201,The Catcher in the Rye,J.D. Salinger,https://images.amazon.com/images/P/0316769487....,449,4.545657
13,220200,The Lovely Bones: A Novel,Alice Sebold,https://images.amazon.com/images/P/0316666343....,1295,4.468726
14,804,1984,George Orwell,https://images.amazon.com/images/P/0451524934....,284,4.454225
15,161024,Prodigal Summer: A Novel,Barbara Kingsolver,https://images.amazon.com/images/P/0060959037....,253,4.450593
16,143459,Neverwhere,Neil Gaiman,https://images.amazon.com/images/P/0380789019....,265,4.449057
17,231774,The Secret Life of Bees,Sue Monk Kidd,https://images.amazon.com/images/P/0142001740....,774,4.447028
18,188993,Stupid White Men ...and Other Sorry Excuses fo...,Michael Moore,https://images.amazon.com/images/P/0060392452....,283,4.356890
19,250491,"Tuesdays with Morrie: An Old Man, a Young Man,...",MITCH ALBOM,https://images.amazon.com/images/P/0385484518....,493,4.354970
20,229327,The Red Tent (Bestselling Backlist),Anita Diamant,https://images.amazon.com/images/P/0312195516....,723,4.334716
21,214704,The Hitchhiker's Guide to the Galaxy,Douglas Adams,https://images.amazon.com/images/P/0671461494....,268,4.328358
22,144222,Nickel and Dimed: On (Not) Getting By in America,Barbara Ehrenreich,https://images.amazon.com/images/P/0805063897....,335,4.289552
23,104503,Into the Wild,Jon Krakauer,https://images.amazon.com/images/P/0385486804....,252,4.273810
24,71287,Fahrenheit 451,Ray Bradbury,https://images.amazon.com/images/P/3257208626....,409,4.264059
25,83610,Girl with a Pearl Earring,Tracy Chevalier,https://images.amazon.com/images/P/0452282152....,526,4.218631
26,151955,Outlander,DIANA GABALDON,https://images.amazon.com/images/P/0440222915....,283,4.173145
27,261810,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,https://images.amazon.com/images/P/0446672211....,585,4.105983
28,174516,Seabiscuit: An American Legend,LAURA HILLENBRAND,https://images.amazon.com/images/P/0449005615....,275,4.098182
29,120437,Life of Pi,Yann Martel,https://images.amazon.com/images/P/0151008116....,664,4.088855
30,198022,The Bean Trees,Barbara Kingsolver,https://images.amazon.com/images/P/0060915544....,389,4.087404
31,2448,"A Child Called \It\"": One Child's Courage to S...",Dave Pelzer,https://images.amazon.com/images/P/1558743669....,265,4.086792
32,9246,ANGELA'S ASHES,Frank McCourt,https://images.amazon.com/images/P/0684874350....,279,4.075269
33,85416,Good in Bed,Jennifer Weiner,https://images.amazon.com/images/P/0743418174....,490,4.055102
34,72551,Fast Food Nation: The Dark Side of the All-Ame...,Eric Schlosser,https://images.amazon.com/images/P/0060938455....,321,4.037383
35,14087,American Gods,Neil Gaiman,https://images.amazon.com/images/P/0380789035....,302,4.006623
36,180884,Skipping Christmas,JOHN GRISHAM,https://images.amazon.com/images/P/0385505833....,322,4.006211
37,118062,Left Behind: A Novel of the Earth's Last Days ...,Tim Lahaye,https://images.amazon.com/images/P/0842329129....,318,4.003145
38,212404,"The Golden Compass (His Dark Materials, Book 1)",PHILIP PULLMAN,https://images.amazon.com/images/P/037582345X....,336,4.000000
39,203491,The Color Purple,Alice Walker,https://images.amazon.com/images/P/0671617028....,314,3.964968
40,179371,Silence of the Lambs,Thomas Harris,https://images.amazon.com/images/P/0312924585....,256,3.960938
41,9585,About a Boy,Nick Hornby,https://images.amazon.com/images/P/1573227331....,262,3.900763
42,176860,Seven Up (A Stephanie Plum Novel),Janet Evanovich,https://images.amazon.com/images/P/0312265840....,278,3.888489
43,196085,The Alchemist: A Fable About Following Your Dream,Paulo Coelho,https://images.amazon.com/images/P/0062502174....,266,3.875940
44,89546,Hard Eight : A Stephanie Plum Novel (A Stephan...,Janet Evanovich,https://images.amazon.com/images/P/0312983867....,269,3.825279
45,190538,Suzanne's Diary for Nicholas,James Patterson,https://images.amazon.com/images/P/0316969443....,457,3.820569
46,123910,Lord of the Flies,William Gerald Golding,https://images.amazon.com/images/P/0399501487....,259,3.818533
47,6193,A Prayer for Owen Meany,John Irving,https://images.amazon.com/images/P/0345361792....,413,3.796610
48,238120,"The Vampire Lestat (Vampire Chronicles, Book II)",ANNE RICE,https://images.amazon.com/images/P/0345313860....,301,3.777409
49,262367,White Oleander : A Novel (Oprah's Book Club),Janet Fitch,https://images.amazon.com/images/P/0316284955....,356,3.772472

### Collaborative Filtering Based Recommendation System

 <p style="color:red;"><b>here we are going to recommend books based on users silimarity and rating but we need a subset of trusted users who are vivid book readers and rate books frequently so for that reason we need to select users who rated books more than 200 times</b></p>

 <p style="color:red;"><b>We will select the subset of the trusted users based on there respective index positions</b></p>

In [94]:
x=book_w_rating.groupby('User-ID').count()['Book-Rating'] > 200

In [95]:
trusted_users=x[x].index

In [96]:
book_w_rating['User-ID'].isin(trusted_users)

0          False
1          False
2           True
3          False
4          False
           ...
1031131    False
1031132    False
1031133    False
1031134    False
1031135    False
Name: User-ID, Length: 1031136, dtype: bool

In [97]:
filtered_rating =book_w_rating[book_w_rating['User-ID'].isin(trusted_users)]
filtered_rating.reset_index()

,index,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,https://images.amazon.com/images/P/034545104X....,http://images.amazon.com/images/P/034545104X.0...
1,5,23768,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,https://images.amazon.com/images/P/034545104X....,http://images.amazon.com/images/P/034545104X.0...
2,7,28523,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,https://images.amazon.com/images/P/034545104X....,http://images.amazon.com/images/P/034545104X.0...
3,15,77940,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,https://images.amazon.com/images/P/034545104X....,http://images.amazon.com/images/P/034545104X.0...
4,16,81977,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,https://images.amazon.com/images/P/034545104X....,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...,...
474002,1030883,275970,1880837927,0,The Theology of the Hammer,Millard Fuller,1994,Smyth &amp; Helwys Publishing,http://images.amazon.com/images/P/1880837927.0...,https://images.amazon.com/images/P/1880837927....,http://images.amazon.com/images/P/1880837927.0...
474003,1030884,275970,188717897X,0,The Ordeal of Integration: Progress and Resent...,Orlando Patterson,1998,Civitas Book Publisher,http://images.amazon.com/images/P/188717897X.0...,https://images.amazon.com/images/P/188717897X....,http://images.amazon.com/images/P/188717897X.0...
474004,1030885,275970,1888889047,0,Pushcart's Complete Rotten Reviews &amp; Rejec...,Bill Henderson,1998,Pushcart Press,http://images.amazon.com/images/P/1888889047.0...,https://images.amazon.com/images/P/1888889047....,http://images.amazon.com/images/P/1888889047.0...
474005,1030886,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),http://images.amazon.com/images/P/1931868123.0...,https://images.amazon.com/images/P/1931868123....,http://images.amazon.com/images/P/1931868123.0...
474006,1030887,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",http://images.amazon.com/images/P/3411086211.0...,https://images.amazon.com/images/P/3411086211....,http://images.amazon.com/images/P/3411086211.0...

 <p style="color:red;"><b>We need to have books which are rated frequently as more users read them so we will select this subset of famous books whcih have more than 50 ratings</b></p>

In [98]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = y[y].index

In [99]:
final_df = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]
final_df

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,https://images.amazon.com/images/P/0446520802....,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,https://images.amazon.com/images/P/0446520802....,http://images.amazon.com/images/P/0446520802.0...
66,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,https://images.amazon.com/images/P/0446520802....,http://images.amazon.com/images/P/0446520802.0...
69,11676,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,https://images.amazon.com/images/P/0446520802....,http://images.amazon.com/images/P/0446520802.0...
74,23768,0446520802,6,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,https://images.amazon.com/images/P/0446520802....,http://images.amazon.com/images/P/0446520802.0...
...,...,...,...,...,...,...,...,...,...,...
1026724,266865,0531001725,10,The Catcher in the Rye,Jerome David Salinger,1973,Scholastic Library Pub,http://images.amazon.com/images/P/0531001725.0...,https://images.amazon.com/images/P/0531001725....,http://images.amazon.com/images/P/0531001725.0...
1027923,269566,0670809381,0,Echoes,Maeve Binchy,1986,Penguin USA,http://images.amazon.com/images/P/0670809381.0...,https://images.amazon.com/images/P/0670809381....,http://images.amazon.com/images/P/0670809381.0...
1028777,271284,0440910927,0,The Rainmaker,John Grisham,1995,Island,http://images.amazon.com/images/P/0440910927.0...,https://images.amazon.com/images/P/0440910927....,http://images.amazon.com/images/P/0440910927.0...
1029070,271705,B0001PIOX4,0,Fahrenheit 451,Ray Bradbury,1993,Simon &amp; Schuster,http://images.amazon.com/images/P/B0001PIOX4.0...,https://images.amazon.com/images/P/B0001PIOX4....,http://images.amazon.com/images/P/B0001PIOX4.0...
1030868,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,https://images.amazon.com/images/P/1586210661....,http://images.amazon.com/images/P/1586210661.0...

 <p style="color:red;"><b>we need to have a dataframe structure that shows in which book the user have rated</b></p>

In [100]:
final_df.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Bend in the Road,0.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,9.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN

 <p style="color:red;"><b>As we can see not every user have rated every book so we can fill the NaN value with 0</b></p>

In [101]:
new_df=final_df.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')

In [102]:
new_df.fillna(0,inplace=True)
new_df

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

 <p style="color:red;"><b>Now in the dataframe a book is kind of a vector where each row is a 810 number serise that uniquely represents a book.We can use this to find the similarity between two books using cosine similariry</b></p>

 <p style="color:red;"><b>WHY cosine similarity?</b></p>

 <p style="color:red;"><b>Cosine Similarity is a measurement that quantifies the similarity between two or more vectors. The cosine similarity is the cosine of the angle between vectors. The vectors are typically non-zero and are within an inner product space.The cosine similarity is described mathematically as the division between the dot product of vectors and the product of the euclidean norms or magnitude of each vector.</b></p>
  <p style="color:red;"><b> In cosine similarity, data objects in a dataset are treated as a vector. The formula to find the cosine similarity between two vectors is –</b></p>

 <p style="color:red;"><b> Cos(x, y) = x . y / ||x|| * ||y||</b></p>
 
<p style="color:red;"><b> where,x . y = product (dot) of the vectors ‘x’ and ‘y’.||x|| and ||y|| = length of the two vectors ‘x’ and ‘y’.||x|| * ||y|| = cross product of the two vectors ‘x’ and ‘y’.</b></p>

 <p style="color:red;"><b>So as cosine similarity is very good for finding similarity between vectors we can use it for our data</b></p>

In [103]:
similarity_scores = cosine_similarity(new_df)
similarity_scores

array([[1.        , 0.10255025, 0.01220856, ..., 0.12110367, 0.07347567,
        0.04316046],
       [0.10255025, 1.        , 0.2364573 , ..., 0.07446129, 0.16773875,
        0.14263397],
       [0.01220856, 0.2364573 , 1.        , ..., 0.04558758, 0.04938579,
        0.10796119],
       ...,
       [0.12110367, 0.07446129, 0.04558758, ..., 1.        , 0.07085128,
        0.0196177 ],
       [0.07347567, 0.16773875, 0.04938579, ..., 0.07085128, 1.        ,
        0.10602962],
       [0.04316046, 0.14263397, 0.10796119, ..., 0.0196177 , 0.10602962,
        1.        ]])

In [104]:
similarity_scores.shape

(706, 706)

 <p style="color:red;"><b>We need a function that will return the 10 similar books with there image link</b></p>

In [105]:
def recommend(book_name):
    index = np.where(new_df.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:10]
    data = []
    for i in similar_items:
        item = []
        temp_df = book[book['Book-Title'] == new_df.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(item)
    
    return data

 <p style="color:red;"><b>Testing the Function</b></p>

In [106]:
recommend('1984')

[['Animal Farm',
  'George Orwell',
  'https://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg'],
 ["The Handmaid's Tale",
  'Margaret Atwood',
  'https://images.amazon.com/images/P/0449212602.01.MZZZZZZZ.jpg'],
 ['Brave New World',
  'Aldous Huxley',
  'https://images.amazon.com/images/P/0060809833.01.MZZZZZZZ.jpg'],
 ['The Vampire Lestat (Vampire Chronicles, Book II)',
  'ANNE RICE',
  'https://images.amazon.com/images/P/0345313860.01.MZZZZZZZ.jpg'],
 ['The Hours : A Novel',
  'Michael Cunningham',
  'https://images.amazon.com/images/P/0312243022.01.MZZZZZZZ.jpg'],
 ['Fahrenheit 451',
  'Ray Bradbury',
  'https://images.amazon.com/images/P/3257208626.01.MZZZZZZZ.jpg'],
 ['The Catcher in the Rye',
  'J.D. Salinger',
  'https://images.amazon.com/images/P/0316769487.01.MZZZZZZZ.jpg'],
 ['Naked',
  'David Sedaris',
  'https://images.amazon.com/images/P/0316777730.01.MZZZZZZZ.jpg'],
 ['The Hundred Secret Senses',
  'Amy Tan',
  'https://images.amazon.com/images/P/0399141146.01.MZZZZZZZ.jpg']]

### Pickling the models

In [107]:
popular_df=popular_df.round(2)

In [108]:
pickle.dump(popular_df,open('popular.pkl','wb'))

In [109]:
book.drop_duplicates('Book-Title')

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,https://images.amazon.com/images/P/0195153448....,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,https://images.amazon.com/images/P/0002005018....,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,https://images.amazon.com/images/P/0060973129....,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,https://images.amazon.com/images/P/0374157065....,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,https://images.amazon.com/images/P/0393045218....,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271354,0449906736,Flashpoints: Promise and Peril in a New World,Robin Wright,1993,Ballantine Books,http://images.amazon.com/images/P/0449906736.0...,https://images.amazon.com/images/P/0449906736....,http://images.amazon.com/images/P/0449906736.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,https://images.amazon.com/images/P/0525447644....,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,https://images.amazon.com/images/P/006008667X....,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,https://images.amazon.com/images/P/0192126040....,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,https://images.amazon.com/images/P/0767409752....,http://images.amazon.com/images/P/0767409752.0...

In [110]:
pickle.dump(new_df,open('pt.pkl','wb'))

In [111]:
pickle.dump(book,open('books.pkl','wb'))

In [112]:
pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))